doctype html
html
  head
    link(rel='stylesheet', href='./css/style.css')
    title demo

  body
    main.background
     h1.img(src="/image/test.png" alt="logo")

     section.content
       nav

        ul
          li NEWS
          li
            p 5月25日
            h3.unko iroiro

        ul.menu
          li MUSIC
          li MV
          li CONTACT

      footer
